body { 
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color:aqua;
  color:darkslategray;
}

.container-fluid {
 padding: 3% 15%;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5;
  color:darkolivegreen;
}

p {
  color:grey;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.0rem;
  font-weight: bold;
}

.nav-item {
  padding: 0;
}
.navbar-link {
  font-family: 'Monterrat',sans-serif;
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}
/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
}

/* Features Section */

#features {
  padding: 7% 15%;
  background-color:white;
  position: relative;
  z-index: 1;
}
.features-para {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:larger;
}
.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color:slategrey;
  margin-bottom: 1rem;
}
.icon:hover {
  color:beige;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color:silver;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carousel-item{
  padding: 7% 15%;
  color:darkslategrey;
}

.testimonial-image {
  width: 10%;
  border-radius:50%;
  margin: 20px;
}

#press {
  background-color:silver;
  text-align: center;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}
/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-header {
  color:black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pricing-coloumn {
  padding: 3% 2%;
}

/* Call To Action Section CTA */
#cta {
  background-color:beige;
  color:darkslategrey;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}
.social-icon:hover {
  color:olive;
}

/* Media Query Section */

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position:static;
    transform: rotate(0);
  }
}
/* COGS3 studyBuddy specific styles go here. */